layout: default.twig

events:
    - name: "Susitikimas 0x0F"
      date: 2014-02-06 19:00
      facebook: https://www.facebook.com/events/214485175404335
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      speakers:
        - name: Simonas Šerlinskas
          title: Logas
          linkedin: http://lt.linkedin.com/in/simonasserlinskas
        - name: Darius Leskauskas
          title: Symfony2 Bundle rašymas atviram naudojimui
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Vidmantas Kabošis
          title: Cucumber: intro į integracinį testavimą salotoms
          linkedin: http://lt.linkedin.com/in/vidmantask
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
    - name: "Susitikimas 0x0E"
      date: 2014-01-02 18:30
      facebook: https://www.facebook.com/events/323274921146957/
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      speakers:
        - name: "Pasidalinsime įspūdžiais iš SymfonyCon 2013 Warsaw!"
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
    - name: "Susitikimas 0x0D"
      date: 2013-12-05 18:30
      facebook: https://www.facebook.com/events/686126918064555/
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      sponsor:
        - name: Visma
          url: http://www.visma.com
          logo: visma-logo.png
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Paulius Podolskis
          title: "PHP infrastructure: How we code, test & deploy"
          linkedin: http://lt.linkedin.com/in/podolskis
        - name: Žilvinas Kuusas
          title: "Modernus PHP testavimas: unit, integration, functional ir acceptance testai"
          linkedin: http://lt.linkedin.com/in/kuusas
    - name: "Susitikimas 0x0C"
      date: 2013-11-07 18:30
      facebook: https://www.facebook.com/events/731589190189495/
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      speakers:
        - name: Marijus Kilmanas
          title: "Deliberate practice: Dojos, Katas & Sensei"
          linkedin: http://www.linkedin.com/in/marijuskilmanas
        - name: Greg Young
          title: "Eventstore database and real time data in Web applications"
      sponsor:
        - name: Wix.com
          url: http://www.wix.com
          logo: wix.com.png
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
    - name: "Susitikimas 0x0B"
      date: 2013-10-03 18:30
      facebook: https://www.facebook.com/events/563288443706633/
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-10-03
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      speakers:
        - name: Ran Mizrahi
          title: "Intro to PHP Unit Testing (in English)"
          linkedin: http://www.linkedin.com/in/ranmizrahi
        - name: Darius Leskauskas
          title: "HTML5 mobile apps. Tips & tricks."
          linkedin: http://lt.linkedin.com/pub/darius-leskauskas/47/418/a77/
        - name: Tautvilas Mečinskas
          title: "Laravel4 vs. Symfony2"
          linkedin: http://www.linkedin.com/in/tautvilas
      sponsor:
        - name: Mokėjimai.lt
          url: http://www.mokejimai.lt
          logo: mokejimai-logo.png
          description: "<b>Mokėjimai.lt</b> artimiausiu metu pristatys mobiliąją programėlę <b>Paysera Android ir iOS</b> platformoms. Vilnius PHP bendruomenės nariai turės unikalią progą išbandyti aplikaciją pirmieji. Kiekvienas bandytojas į programėlę gaus po <b>20 LTL</b>, kuriuos galės išleisti After party metu. <br />Norintys testuoti aplikaciją iOS platformoje, <b>ketvirtadienį iki 15:00 val</b>. turėtų atsiųsti savo įrenginio UDID el. paštu <a href=\"mailto:app@mokejimai.lt\">app@mokejimai.lt</a>. Android įrenginių savininkams jokių išankstinių veiksmų imtis nereikia. Detalesnės instrukcijos bus pateiktos susitikimo pabaigoje."
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
    - name: "Susitikimas 0x0A"
      date: 2013-09-05 18:30
      facebook: https://www.facebook.com/events/501161299961907/
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-09-05
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Simonas Šerlinskas
          title: Elasticsearch
          linkedin: http://lt.linkedin.com/in/simonasserlinskas
        - name: Gediminas Morkevičius
          title: Being dangerous with git.
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Vidmantas Kabošis
          title: Capistrano: Still uploading files to FTP?
          linkedin: http://lt.linkedin.com/in/vidmantask
    - name: "Susitikimas 0x09"
      date: 2013-08-01 18:30
      facebook: https://www.facebook.com/events/1396735697206023/
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-08-01
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Gediminas Morkevičius
          title: Atviro kodo projektas, jo sėkmė ir nauda tau
          linkedin: http://www.linkedin.com/pub/gediminas-morkevičius/9/b0/680
        - name: Juozas Kaziukėnas
          title: Growing web spiders
          linkedin: http://www.linkedin.com/in/juozas/lt
    - name: "Susitikimas 0x08"
      date: 2013-07-04 18:30
      facebook: https://www.facebook.com/events/171082116401049/
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-07-04
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      sponsor:
        - name: Startup.lt
          url: http://www.startup.lt
          logo: startuplt.png
        - name: Practica Capital
          url: http://www.practica.lt
          logo: practica.png
      speakers:
        - name: Gediminas Mikelėnas
          title: Chrome developer tools in depth
          linkedin: http://lt.linkedin.com/pub/gediminas-mikelėnas/43/8b3/70b
        - name: Mangirdas Skripka
          title: Missing peace in code decoupling
          linkedin: http://www.linkedin.com/in/mangirdasskripka
        - name: Tomas Beniušis
          title: Diskusijos apie programuotojo darbą, požiūrį ir galimybes
          linkedin: http://lt.linkedin.com/in/beniusis

    - name: "Susitikimas 0x07"
      date: 2013-06-06 18:30
      facebook: https://www.facebook.com/events/575000559187401/
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-06-06
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Martynas Kraujalis
          title: "SQL injekcijos: kaip teisingai apsisaugoti?"
        - name: Simonas Jončys
          title: "Responsive Web Design & Progressive Enhancement Dev'ams"
          linkedin: http://lt.linkedin.com/in/joncys
        - name: Sergej Kurakin
          title: "Redis - Mažas, greitas, galingas!"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#6 susitikimas"
      date: 2013-05-02 18:30
      facebook: https://www.facebook.com/events/446989482048937/
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-05-02
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      sponsor:
        name: Pigu.lt
        url: http://www.pigu.lt
        logo: pigu-logo.gif
      speakers:
        - name: Artūras Šmorgun
          title: "Vagrant"
          linkedin: http://uk.linkedin.com/in/arturassmorgun/
        - name: Dominykas Blyžė
          title: "Node.js su**s"
          linkedin: http://lt.linkedin.com/in/dominykas
        - name: Sergejus Barinovas
          title: "Continuous Happiness by Continuous Delivery"
          linkedin: http://www.linkedin.com/in/sergejus

    - name: "#5 susitikimas"
      date: 2013-04-04 18:30
      facebook: https://www.facebook.com/events/441224622624996/
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-04-04
      sponsor:
        name: Eskimi
        url: http://www.eskimi.com
        logo: eskimi-logo.png
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Mantas Šidlauskas
          title: "statsd ir Graphite panaudojimas Eskimi realaus laiko monitoringui"
          linkedin: http://lt.linkedin.com/in/mantassidlauskas/
        - name: Arūnas Smaliukas
          title: "MongoDB ir jos ypatumai"
          linkedin: http://lt.linkedin.com/pub/arūnas-smaliukas/11/2b5/b97/
        - name: Sergej Kurakin
          title: "NGINX + PHP-FPM"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#4 susitikimas"
      date: 2013-03-07 18:30
      facebook: https://www.facebook.com/events/104132936428507/
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-03-07
      sponsor:
        name: Visma
        url: http://www.visma.com
        logo: visma-logo.png
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Paulius Leščinskas
          title: "Varnish Cache"
          linkedin: http://lt.linkedin.com/in/pluton
        - name: Mantas Urbonas
          title: "Programinio kodo licencijos"
          linkedin: http://lt.linkedin.com/in/mantasurbonas

    - name: "#3 susitikimas"
      date: 2013-02-07 18:30
      facebook: https://www.facebook.com/events/317893281654570/
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-02-07
      sponsor:
        name: Net Frequency
        url: http://www.nfq.lt
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Povilas Balzaravičius
          title: "Dependency injection containers"
          linkedin: http://lt.linkedin.com/in/pawka
        - name: Liudas Markevičius
          title: "Web projektų gamybos etapų eiliškumas"
          linkedin: http://lt.linkedin.com/in/liumis
        - name: Sergej Kurakin
          title: "Projekto istorija augant iki 1.5 M vartotojų per dieną"
          linkedin: http://www.linkedin.com/in/sergejkurakin

    - name: "#2 susitikimas"
      date: 2013-01-03 18:30
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2013-01-03
      sponsor:
        name: Mailer.lt
        url: http://www.mailer.lt
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Aurimas Baubkus
          title: "Caching strategies"
          linkedin: http://lt.linkedin.com/in/aurimasbaubkus
        - name: Georgij Lesnikov
          title: "\"Programavimas\" su CSS (LESS stilių kalbos pavyzdžiu)"
          linkedin: http://lt.linkedin.com/in/georgij
        - name: Vaidas Žilionis
          title: "Sphinx (Open Source Search Server)"
          linkedin: http://lt.linkedin.com/in/vaidaszilionis

    - name: "#1 susitikimas"
      date: 2012-12-06 18:30
      github: https://github.com/vilniusphp/vilniusphp-meetups/tree/master/2012-12-06
      place:
        name: "ŠMTP"
        address: J. Galvydžio g. 5, Vilnius
        mapurl: https://maps.google.com/maps?q=5+J.+Galvyd%C5%BEio+gatv%C4%97,+Vilnius,+Vilnius+Region,+Lithuania&hl=en&ie=UTF8&ll=54.711111,25.294132&spn=0.010785,0.031843&sll=54.711309,25.293317&sspn=0.010785,0.031843&hnear=J.+Galvyd%C5%BEio+gatv%C4%97+5,+%C5%BDirm%C5%ABnai,+Vilnius,+Vilniaus+apskritis+08236,+Lithuania&t=m&z=16
      sponsor:
        name: Estina
        url: http://www.estina.com
      afterparty:
        name: '"Alaus studija"'
        address: S.Žukausko g. 20, Vilnius
        mapurl: http://goo.gl/maps/nWTTJ
      speakers:
        - name: Aurimas Baubkus
          title: "Susirinkom. Kas toliau?"
          linkedin: http://lt.linkedin.com/in/aurimasbaubkus
        - name: Povilas Korop
          title: "Ar verta naudoti framework'us?"
          linkedin: http://www.linkedin.com/pub/povilas-korop/54/5aa/473
        - name: Povilas Balzaravičius
          title: "Seni projektai, nauji įrankiai"
          linkedin: http://www.linkedin.com/in/pawka
        - name: Vaidas Zlotkus
          title: "Dažniausiai sutinkamos esminės MySQL našumo problemos ir jų sprendimo būdai"
          linkedin: http://www.linkedin.com/in/muanton
---

{% for key, event in this.events %}
<div class="event">
    <h3>{{ event.name }}</h3>
    <b>{{ event.date }}</b>

    <br>
    {% if key == 0 %}
        {% if event.place %}
            {{ event.place.name }}, {{ event.place.address }}
        {% else %}
            Vieta tikslinama.
        {% endif %}
    {% endif %}

    {% if event.github %}
    <a class="label label-info" href="{{ event.github }}">Medžiaga @ GitHub</a>
    {% endif %}

    <h4>Pranešėjai</h4>
    <ol>
        {% if event.speakers|length == 0 %}
        Turi ką papasakoti? Rašyk mums!
        {% endif %}

        {% for speaker in event.speakers %}
        <li>
            <strong>{{ speaker.name }}</strong>
            {% if speaker.linkedin %}
            <a href="{{ speaker.linkedin }}" title="{{ speaker.name }}" target="_blank"><img src="media/img/linkedin.png" alt="" /></a>
            {% endif %}
            <br>
            {{ speaker.title }}
        </li>
        {% endfor %}
    </ol>

    {% if event.sponsor and key == 0 %}
        <h4>Rėmėjas - <a href="{{ event.sponsor.0.url}}">{{ event.sponsor.0.name}}</a></h4>
        <p>{{ event.sponsor.0.description}}</p>
    {% endif %}
    {% if event.afterparty and key == 0 %}
    <h4>After party</h4>
    <p>
        {{ event.afterparty.name}} {{ event.afterparty.address }}
        (<a href="{{ event.afterparty.mapurl }}" target="_blank">žemėlapis</a>).
    </p>
    {% endif %}
</div>
<hr>
{% endfor %}
