<div class="jumbotron">
    <h1>{{ entry.events.0.name }}</h1>

    <div class="event-time">
        <p class="lead">
            <b>{{ entry.events.0.date }}</b> 
            <br />
            {% if entry.events.0.place %}
                {{ entry.events.0.place.name }}, {{ entry.events.0.place.address }} (<a href="{{ entry.events.0.place.mapurl }}" target="_blank">žemėlapis</a>)<br />
            {% else %}
                Vieta tikslinama
            {% endif %}
        </p>
    </div>
    <a class="btn btn-large btn-success" href="{{ entry.events.0.facebook }}">Užsiregistruok į renginį</a>
    {% if entry.events.0.sponsor.logo %}
    <div>
        <br>
        <a href="{{ entry.events.0.sponsor.url }}"><img src="media/img/{{ entry.events.0.sponsor.logo }}" alt="" /></a>
    </div>
    {% endif %}
</div>
