<div class="jumbotron">
    <h1>{{ entry.event.name }}</h1>

    <div class="event-time">
        <p class="lead">
            <b>{{ entry.event.date }}</b> 
            <br />
            {% if entry.event.place %}
                {{ entry.event.place.name }}, {{ entry.event.place.address }} (<a href="{{ entry.event.place.mapurl }}" target="_blank">žemėlapis</a>)<br />
            {% else %}
                Vieta tikslinama
            {% endif %}
        </p>
    </div>
    <a class="btn btn-large btn-success" href="{{ entry.event.facebook }}">Užsiregistruok į renginį</a>
</div>
