<div class="jumbotron">
    <h1>{{ entry.events.0.name }}</h1>

    <div class="event-time">
        <p class="lead">
            <b>{{ entry.events.0.date }}</b> 
            <br />
                {{ entry.place.name }}, {{ entry.place.address }} (<a href="{{ entry.place.mapurl }}" target="_blank">žemėlapis</a>)<br />
        </p>
    </div>
    {% if entry.events.0.sponsor %}
    <div>
        <h3>Renginį remia:</h3>
        {% for item in entry.events.0.sponsor %}
        <a href="{{ item.url }}" title="{{ item.title }}"><img src="media/img/{{ item.logo }}" alt="{{ item.title }}" /></a>
        {% endfor %}
    </div>
    <br>
    {% endif %}
    <a class="btn btn-large btn-success" href="{{ entry.events.0.facebook }}">Užsiregistruok!</a>
</div>
