<div class="jumbotron">
    <h1>{{ entry.events.0.name }}</h1>

    <div class="event-time">
        <p class="lead">
            <b>{{ entry.events.0.date }}</b> 
            <br />
            {% if entry.events.0.place %}
                {{ entry.events.0.place.name }}, {{ entry.events.0.place.address }} (<a href="{{ entry.events.0.place.mapurl }}" target="_blank">žemėlapis</a>)<br />
            {% else %}
                Vieta tikslinama
            {% endif %}
        </p>
    </div>
    {% if entry.events.0.sponsor %}
    <div>
        <h3>Renginį remia:</h3>
        {% for item in entry.events.0.sponsor %}
        <a href="{{ item.url }}"><img src="media/img/{{ item.logo }}" alt="" /></a>
        {% endfor %}
    </div>
    <br>
    {% endif %}
    <a class="btn btn-large btn-success" href="{{ entry.events.0.facebook }}">Užsiregistruok!</a>
</div>
