<div class="list-group">
{% for key, event in entry.events if key > 0 %}

    <div class="list-group-item">
        <div class="row-action-primary">
            {% if event.name|slice(-4, 2) == '0x' %}
                <i>{{ event.name|slice(-4, 4) }}</i>
            {% elseif event.name|slice(2, 1) == ' ' %}
                <i>{{ event.name|slice(0, 2) }}</i>
            {% elseif event.name|slice(0, 8) == 'CodeWeek' %}
                <i class="mdi-hardware-mouse"></i>
            {% else %}
                <i class="mdi-action-event"></i>
            {% endif %}
        </div>
        <div class="row-content">
            <div class="least-content">{{ event.date }}</div>
            <h4 class="list-group-item-heading">{{ event.name }}</h4>
            <div class="links list-group-item-text">
                <a class="btn btn-xs btn-info" target="_blank" href="{{ event.facebook }}">Facebook</a>
                {% if event.speakers %}
                    <a class="btn btn-xs btn-info" target="_blank" href="https://github.com/vilniusphp/vilniusphp-meetups/tree/master/{{ event.date|date("Y-m-d") }}">GitHub</a>
                {% endif %}
                {% if event.place %}
                    {{ event.place.name }} {{ event.place.address }} <a href="{{ event.place.mapurl }}"><i class="mdi-maps-map"></i></a>
                {% endif %}
            </div>
            {% if event.masterTopic %}
                <div class="master-topic well">
                    {{ event.masterTopic }}
                </div>
            {% endif %}
            <div class="speakers list-group-item-text row">
                {% for speaker in event.speakers %}
                    <div class="well">
                        <h5>{{ speaker.title }}</h5>
                        <div>
                            <i class="mdi-social-person"></i>{{ speaker.name }}
                            {% if speaker.linkedin %}
                                <a class="shadow-z-1" href="{{ speaker.linkedin }}"><img src="media/img/linkedin.png" alt="Linkedin: {{ speaker.name }}"/></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if event.ligtingTalks %}
                    {% include 'layouts/widgets/lighting-talks.twig' %}
                {% endif %}
                {% if event.sponsor %}
                    <div class="sponsors">
                        <h5>Susitikimą rėmė:</h5>
                        {% for item in event.sponsor %}
                            <a href="{{ item.url }}" title="{{ item.title }}"><img src="media/img/{{ item.logo }}" alt="{{ item.title }}" /></a>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
    <div class="list-group-separator"></div>
{% endfor %}
</div>
