<div class="event-header row">
    <div class="col-sm-4"><h2>{{ event.name }}</h2></div>
    <div class="event-links col-sm-4">
        <a class="btn btn-xs btn-info" target="_blank" href="{{ event.facebook }}">Facebook</a>
        {% if event.speakers %}
            <a class="btn btn-xs btn-info" target="_blank" href="https://github.com/vilniusphp/vilniusphp-meetups/tree/master/{{ event.date|date("Y-m-d") }}">GitHub</a>
        {% endif %}
    </div>
    <div class="date col-sm-4">{{ event.date }}</div>
</div>
{% if event.place %}
    <div class="place">
        {{ event.place.name }} {{ event.place.address }} <a href="{{ event.place.mapurl }}"><i class="mdi-maps-map"></i></a>
    </div>
{% endif %}
{% if event.masterTopic %}
    <div class="master-topic well">
        {{ event.masterTopic }}
    </div>
{% endif %}
<div class="row">
    <div class="col-sm-8">
        {% for speaker in event.speakers %}
            <div class="col-md-4">
                <div class="well">
                    <h5>{{ speaker.title }}</h5>
                    <div>
                        <i class="mdi-social-person"></i>{{ speaker.name }}
                        {% if speaker.linkedin %}
                            <a class="shadow-z-1" href="{{ speaker.linkedin }}"><img src="media/img/linkedin.png" alt="Linkedin: {{ speaker.name }}"/></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if event.ligtingTalks %}
            <div class="col-md-4">
                {% include 'layouts/widgets/lighting-talks.twig' %}
            </div>
        {% endif %}
    </div>
    <div class="col-sm-4">
        {% if event.sponsor %}
            <div class="sponsors panel panel-default">
                <div class="panel-heading">Susitikimą rėmė</div>
                <div class="panel-body">
                    {% for item in event.sponsor %}
                        <a href="{{ item.url }}" title="{{ item.title }}"><img src="media/img/{{ item.logo }}" alt="{{ item.title }}" /></a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
